# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
captures/
*.apk
*.aar
*.keystore

# IDE / OS
.idea/
.vscode/
*.iml
*.DS_Store
Thumbs.db
